<% for(var i = 0; i < product.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= product[i].name %></td>
        <td><%= product[i].description %></td>
        <td><%= product[i].quantity %></td>
        <td><%= product[i].price %></td>
        <td>
            <a href="/update_product?id=<%= product[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= product[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
            <a href="/cart"class="btn border-shadow delete">
                <span class="text-gradient"><i class="fa-solid fa-cart-plus"></i></span>
            </a>
        </td>
    </tr>
    <% } %>